@media only screen and (max-width: 768px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }
    .section-2 .cover{
        background-position:-20vmin -10vmin ;
    }
    .numbers .rect{
        width: 10rem;
        height: 8rem;
    }
    .numbers .rect h1{
        font-size: 2rem;
    }
    .section-3{
        height: inherit;
        padding: 5vmin!important;
    }
    .section-3 .row .h1{
        padding: 6vmin 4vmin;
    }
    .section-3 .row .col-md-6{
        text-align: center!important;
        padding-bottom: 5vmin;
    }
    .section-3 .desktop i{
        font-size: 8vmin;
    }

    .section-4 .casousel-item{
        padding-left: 0.6rem!important;
    }

    .section-4 .team{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .section-4 .card{
        margin-left: -3rem;
    }

    .section-4 .carousel-inner{
       
        margin-left: -9vmin;
        width: 25rem;
    }

}

@media only screen and (max-width: 425px){
    footer .row .col-md-2{
        margin-top: 8vmin;
    }

    .section-4 .card{
        margin-left: .8rem;
    }

    .section-4 .carousel-inner{
        margin-left: -9vmin;
    }

}


@media only screen and (max-width: 400px){
    .section-4 .card{
        width: 17rem;
    }

    .section-4 .card{
        margin-left: .8rem;
    }

    .section-4 .carousel-inner{
        margin-left: -10vmin;
    }
    
}


/* align card */

@media only screen and (max-width: 320px){
    .section-4 .card{
        width: 18rem;
    }

    .section-4 .carousel-inner{
        margin-left: -14vmin;
    }


}