*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: black;
}
.sidebar header{
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 16px;
    color: whitesmoke;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(52, 166, 170);
    transition: .7s;
}
ul li:hover a{
    padding-left: 50px;
    font-size: 25px;

}
.sidebar ul a i{
    margin-right: 1rem;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor:pointer;
}
label #btn{
    left: 40px;
    
}